html {
  position: relative;
  min-height: 100%;
  padding-bottom:160px;
  scroll-behavior: smooth;
}

body{
    height: 100%;
    margin : 0;
    padding : 0;
    background: rgb(29,38,55);
    background: radial-gradient(circle, rgba(29,38,55,1) 14%, rgba(15,19,29,1) 95%);
   font-family: 'Open Sans', sans-serif;
}

#carouselContainer{
  width: fit-content;
  text-align:center;
}

#carouselIndicators {
    width:fit-content;
    margin:2%;
    border-radius: 10px;
    box-shadow: 3px 10px 20px black;
}

.carousel-inner,.carousel-item, .carousel-item img {
  width: 100%;
  border-radius: 8px;
  
}

.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 100%;
}



.navbar{
background: rgb(0,0,0) !important;
background: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.8716620437237395) 87%) !important;
}

.navbar-brand img{
    width: 140px;
    height: 30px;
}

.navbar.scrolled {
  background: rgb(9,11,19) !important;
  transition: background-color 200ms linear;
}

.wrapper {
    max-width: 100%;
    margin: 2%;
    display: grid;
    text-align: center;
    grid-row-gap: 2rem;
    height:fit-content;
}

.col img{
   
    border-radius: 8px;
    box-shadow: 3px 10px 20px black;
}

.col {
   max-width: 332px;
   max-height: 186px;
}

.col:hover {
  transform: scale(1.05);
}

@media (min-width: 100px) {
  .wrapper { grid-template-columns: repeat(2, 1fr); }
  #carouselIndicators {
     margin-top: 17%;
     margin-bottom: 10%;
  }
  #containerMovie {
     margin-top: 17%;
  }
  .carousel-indicators li {
    visibility: hidden;
  }

}

@media (min-width: 350px) {
  .wrapper { grid-template-columns: repeat(2, 1fr); }
  #carouselIndicators {
     margin-top: 13%;
     margin-bottom: 10%;
  }
    #containerMovie {
     margin-top: 13%;
  }
  .carousel-indicators li {
    visibility: hidden;
  }
}

@media (min-width: 400px) {
  .wrapper { grid-template-columns: repeat(2, 1fr); }
  #carouselIndicators {
     margin-top: 10%;
     margin-bottom: 5%;
  }
  #containerMovie {
     margin-top: 10%;
  }
  .carousel-indicators li {
    visibility: hidden;
  }
}

@media (min-width: 600px) {
  .wrapper { grid-template-columns: repeat(3, 1fr); }
  #carouselIndicators {
     margin-top: 5%;
     margin-bottom: 5%;
  }
  #containerMovie {
     margin-top: 5%;
  }
  .carousel-indicators li {
    visibility: visible;
  }
}

@media (min-width: 1000px) {
  .wrapper { grid-template-columns: repeat(4, 1fr); }
    #carouselIndicators {
     margin-top: 4%;
     margin-bottom: 3%;
  }
  #containerMovie {
     margin-top: 2%;
  }
    .carousel-indicators li {
    visibility: visible;
  }
}

@media (min-width: 1200px) {
  .wrapper { grid-template-columns: repeat(5, 1fr); }
    .carousel-indicators li {
    visibility: visible;
  }
}

@media (min-width: 1700px) {
  .wrapper { grid-template-columns: repeat(6, 1fr); }
    .carousel-indicators li {
    visibility: visible;
  }
}

.footer {
  position: absolute;
  bottom: 0;
  background-color: black;
  width: 100%;
}

.text{
    font-size: small;
    color:rgb(177, 177, 177);
}

.navbar-nav li a {
  color : white;
}

.nav-link.disabled{
  color: white;
}

#navbarDropdown {
  color: white;
}

#btnDeco {
  color : white;
}

#btnDeco:hover {
  color :#16181b;
}


.modal-content {
  border-radius: 15px;
}

.modal-header {
  border-bottom-color: #595959;
}
.modal-body form div label {
  color : white;
}

.modal-footer {
    border-top: 0 none;
}

.modal-footer button {
  background-color: #001787;
  border: #131335;
}

.modal-footer button:hover {
  background-color: #000c47;
}

.modal-header button span{
  color: white;
}

#homePage .container div h1{
  color:white;
}

#homePage .container div img{
  box-shadow: 3px 10px 20px black;
  border-radius: 100%;
  max-width:150px;
  height: auto;
}

.form-group input{
  box-shadow: 3px 10px 20px black;
}
.form-group label {
  color:white;
}

.form-groupe button {
  position: center;
}

.dropdown-menu{
  background-color: #171717;
  border-radius: 5px;
  border-color: #595959;
}

.dropdown-divider{
  border-color : #595959;
}

.dropdown-item {
  display: block;
  width: 100%;
  padding: 0.25rem 1.5rem;
  clear: both;
  font-weight: 400;
  color: #919191;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}

.dropdown-item:hover, .dropdown-item:focus {
  color: #16181b;
  text-decoration: none;
  background-color: #e9ecef;
}

.card {
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 8px;
  box-shadow: 3px 10px 20px black;
  margin-left:3%;
  margin-right: 3%;

}

.card-body {
  color: white;
}